<section class="menu" id="menu">

<h1 class="heading"> Nuestras <span>marcas</span> </h1>

    <div class="box-container">
     {% for marcaMember in marca %}
      <img class="img-fluid-w-100" src="{{ asset('images/' ~ marcaMember.photo) }}" alt="">
      <p class="m-0">{{ marcaMember.designation }}</p>
       {% endfor %}

        <!--<div class="box">
            <img src="images/cafe1.png" alt="">
            <h3>Nescafé</h3>
        </div>

        <div class="box">
            <img src="images/cafe2.png" alt="">
            <h3>Bonka</h3>
        </div>

        <div class="box">
            <img src="images/cafe3.png" alt="">
            <h3>Nespresso</h3>
        </div>

        <div class="box">
            <img src="images/cafe4.png" alt="">
            <h3>Nestle</h3>
        </div>

        <div class="box">
            <img src="images/cafe5.png" alt="">
            <h3>L'OR</h3>
        </div>-->

    </div>

</section>
<br style="margin-top:5%">